<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Site</title>
</head>

<body>
    <div class="letter">
        <p>Уважаемый {{ user.name }}, покупка успешно совершена, заказ приедет к вам на адрес {{ user.adress }}.</p>
        <p>Товары, которые вы купили:</p>
        {% for i in items %}
        <ol>
        	<li>{{ i.name }}</li>
        </ol>
        {% endfor %}
    </div>
</body>

</html>