{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}
{%block content %}
    <div class="content">
    <div class="content__container">
    <div class="changePassword">
        <form class="changePassword__container" action="#" method="POST">
            {{ form.hidden_tag() }}
            <div class="changePassword__input">
                <div class="changePassword__title">{{ form.password.label }}</div>
                {{ form.password() }}
                {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="changePassword__input">
                <div class="changePassword__title">{{ form.password1.label }}</div>
                {{ form.password1() }}
                {% for error in form.password1.errors %}
                        <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit() }}
        </form>
    </div>
    </div>
    </div>
{% endblock %}